<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script>document.write('<base href="' + document.location + '" />');</script>
    <title>BusinessStreamline</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/content/css/toastr.css" rel="stylesheet" />
    <link href="~/content/css/site.css" rel="stylesheet" />
</head>
<body>
    <div data-app=""></div>
    <!-- IE required polyfills, in this exact order -->
    <script src="~/lib/es6-shim.min.js"></script>
    <script src="~/lib/system-polyfills.js"></script>
    <script src="~/lib/shims_for_ie.js"></script>

    <script defer src="~/lib/cycle.js"></script>
    <script defer src="~/lib/jquery.js"></script>
    <script defer src="~/lib/bootstrap.js"></script>
    <script defer src="~/lib/moment-with-locales.min.js"></script>
    <script defer src="~/lib/linq.min.js"></script>
    <script defer src="~/lib/toastr.min.js"></script>

    <script defer src="~/lib/angular2-polyfills.js"></script>
    <script defer src="~/lib/system.js"></script>
    <script defer src="~/lib/typescript.js"></script>
    <script defer src="~/lib/fetch.js"></script>
    <script defer src="~/lib/Rx.js"></script>

    <script defer src="~/lib/angular2.dev.js"></script>
    <script defer src="~/lib/router.dev.js"></script>
    <script defer src="~/lib/http.dev.js" onload="boot()"></script>

    <script>
        function boot() {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }

            System.config({
                transpiler: 'typescript',
                typescriptOptions: { emitDecoratorMetadata: true },
                packages: { 'app': { defaultExtension: 'ts' } }
            });
            System.import('app/bootstrap')
                  .then(null, console.error.bind(console));
        }
    </script>
</body>
</html>
