<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form" (ngSubmit)="onAdd($event)" [ngFormModel]="formModel">
                <fieldset>
                    <legend>Produkt erstellen</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" [ngFormControl]="formModel.controls.name" required="required" autofocus="autofocus" maxlength="40" />
                            <div *ngIf="formModel.hasError('required', 'name')" class="label label-danger label-as-badge">Name ist ein Pflichtfeld!</div>
                            <div *ngIf="formModel.hasError('minlength', 'name')" class="label label-danger label-as-badge">Name ist zu kurz!</div>
                            <div *ngIf="formModel.hasError('maxlength', 'name')" class="label label-danger label-as-badge">Name darf nicht länger als 40 Zeichen sein!</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Produkt erstellen">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Erstellen</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>