<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">BusinessStreamline</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/angebot/list">Angebote</a></li>
                <li><a href="#/bestellungen">Bestellungen</a></li>
                <li class="dropdown">
                    <a href="#/produkte" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produkte <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/produkte">Produkte</a></li>
                        <li><a href="#/produkt/add">Produkt erfassen</a></li>
                    </ul>
                </li>
                <li><a href="#/nachfrage">Nachfragen</a></li>
                <li><a href="#/about">About</a></li>
                <li><a href="#/kontakt">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="userService.isLoggedIn() == false"><span class="navbar-login"><a href="#/login">Login</a></span></li>
                <li *ngIf="userService.isLoggedIn() == true"><span class="navbar-login"><a href="#/logout">{{ userService?.user?.name }}</a></span></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>