/* Evtl. spezifische Anpassungen können hier vorgenommen werden. */

body {
}

* {
    border-radius: 0 !important;
}

.block {
    display: block;
}

.ng-valid {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.dropdown-menu > li > button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: 100%;
}

.btn-dropdown {
    text-align: left;
    background-color: #FFF;
}

.btn-dropdown:hover {
    background-color: #E6E6E6;
}

select.btn {
    border: 1px solid #CCC;
}

span.navbar-login {
    color: #FFF;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

legend {
    margin-bottom: 14px;
}

h3.detail-label {
    margin-top: 0;
    padding-top: 0;
}

span.label.label-as-badge {
    font-size: inherit;
}

.label > a {
    color: #FFF;
}

.star-offer {
    color: #337ab7;
    font-size: 28px;
}

.table-cell-badge {
    vertical-align: middle !important;
    text-align: center !important;
}

.state-sign {
    font-size: 18px;
}

    .state-sign.open {
        color: #ff6a00;
    }

    .state-sign.closed {
        color: forestgreen;
    }