<section>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-9">
            <form class="form" (ngSubmit)="onSubmit($event)">
                <fieldset>
                    <legend>Suche</legend>
                    <div class="input-group">
                        <input [(ngModel)]="model.search" ngControl="search" type="text" class="form-control" id="txtSrc" placeholder="Suchen...">
                        <span class="input-group-btn">
                            <select class="btn" [(ngModel)]="model.typ">
                                <option *ngFor="#typ of typList" [value]="typ.typId">{{ typ.name }}</option>
                            </select>
                        </span>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Auf gehts!</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-offset-2 col-xs-9">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Nachfrage
                    </th>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Teil
                    </th>
                    <th>
                        Typ
                    </th>
                </tr>
                <tr *ngFor="#nachfrage of data">
                    <td>{{nachfrage?.nachfrageId}}</td>
                    <td>{{nachfrage?.produktName}}</td>
                    <td>{{nachfrage?.teilName}}</td>
                    <td>{{nachfrage?.typName}}</td>
                </tr>
            </table>
        </div>
    </div>
</section>