<section>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-9">
            <form class="form" (ngSubmit)="onSubmit($event)">
                <fieldset>
                    <legend>Suche</legend>
                    <div class="input-group">
                        <input [(ngModel)]="model.search" ngControl="search" type="text" class="form-control" id="txtSrc" placeholder="Suchen...">
                        <span class="input-group-btn">
                            <select class="btn" [(ngModel)]="model.typ">
                                <option *ngFor="#typ of typList" [value]="typ.typId">{{ typ.name }}</option>
                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn" [(ngModel)]="model.state">
                                <option *ngFor="#status of statusList" [value]="status.status">{{ status.name }}</option>
                            </select>
                        </span>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Auf gehts!</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-offset-2 col-xs-9">
            <form class="form" (ngSubmit)="onSubmit($event)">
                <fieldset>
                    <legend>Resultate - {{ count }}</legend>
                </fieldset>
            </form>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Nachfrage
                    </th>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Teil
                    </th>
                    <th>
                        Typ
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Aktionen
                    </th>
                </tr>
                <tr *ngFor="#nachfrage of data">
                    <td>
                        <a href="#/nachfrage/{{ nachfrage?.nachfrageId }}">{{ nachfrage?.nachfrageId }}</a>
                    </td>
                    <td>
                        <a href="#/produkt/{{nachfrage?.produktId }}">{{ nachfrage?.produktName }}</a>
                    </td>
                    <td>{{nachfrage?.teilName}}</td>
                    <td>{{nachfrage?.typName}}</td>
                    <td class="table-cell-badge">
                        <span *ngIf="!nachfrage?.hatBestellung" class="label label-warning label-as-badge center-block">Offen</span>
                        <span *ngIf="nachfrage?.hatBestellung" class="label label-primary label-as-badge center-block">Geschlossen</span>
                    </td>
                    <td>
                        <a *ngIf="!nachfrage?.hatBestellung" href="#/angebot/add/{{nachfrage?.nachfrageId}}" class="btn btn-default center-block">
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>