<section>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-9">
            <form class="form">
                <fieldset>
                    <legend>Nachfrage - {{ model?.nachfrageId }}</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Zum Produkt</label>
                            <a href="#/produkt/{{ model?.teil?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ model?.teil?.produkt?.name }}</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <label>Zum Teil</label>
                            <a href="#/produkt/{{ model?.teil?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ model?.teil?.name }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-xs-offset-2 col-xs-9">
            <form class="form">
                <fieldset>
                    <legend>Vorhandene Angebote</legend>
                </fieldset>
            </form>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Angebot
                    </th>
                    <th>
                        Erstellt Am
                    </th>
                    <th>
                        Preis pro Teil
                    </th>
                    <th>
                        Status
                    </th>
                    <th colspan="2">
                        Aktionen
                    </th>
                </tr>
                <tr *ngFor="#angebot of data">
                    <td>{{ angebot?.angebotId }}</td>
                    <td>{{ angebot?.erstelltAm }}</td>
                    <td>{{ angebot?.preisProTeil }}</td>
                    <td>
                        <span *ngIf="angebot?.status == 0" class="label label-warning label-as-badge">Offen</span>
                        <span *ngIf="angebot?.status == 1" class="label label-success label-as-badge">Akzeptiert</span>
                        <span *ngIf="angebot?.status == 2" class="label label-primary label-as-badge">Abgelehnt</span>
                    </td>
                    <td>
                        <button (click)="onAcceptAngebot($event, angebot)" type="button" class="btn btn-success center-block" data-toggle="tooltip" data-placement="top" title="Angebot annehmen"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                    </td>
                    <td>
                        <button (click)="onDeclineAngebot($event, angebot)" type="button" class="btn btn-warning center-block" data-toggle="tooltip" data-placement="top" title="Angebot ablehnen"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>