<div *ngIf="hasData">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Nachfrage - {{ model?.nachfrageId }}</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <label>Produkt</label>
                        <div class="input-group">
                            <a href="#/produkt/{{ model?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ model?.produktName }}</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Teil</label>
                        <div class="input-group">
                            <a href="#/produkt/{{ model?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ model?.teilName }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Geforderte Stückzahl</label>
                        <div class="input-group">
                            <span class="form-control-static">{{ model?.anzahl }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Qualität</label>
                        <div class="input-group">
                            <span class="form-control-static">{{ model?.teilQualitaetName }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Liefertermin</label>
                        <div class="input-group">
                            <span class="form-control-static">{{ model?.liefertermin | momentdate:'L' }}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Erledigt</label>
                        <div class="input-group">
                            <a *ngIf="model?.bestellungId" href="#/bestellungen">
                                <span class="form-control-static">Bestellung {{ model?.bestellungId }}</span>
                            </a>
                            <i *ngIf="model?.istOffen" class="glyphicon glyphicon-minus form-control-static state-sign open"></i>
                            <i *ngIf="!model?.istOffen" class="glyphicon glyphicon-ok form-control-static state-sign closed"></i>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Vorhandene Angebote</legend>
                </fieldset>
            </form>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Angebot
                        </th>
                        <th>
                            Erstellt Am
                        </th>
                        <th>
                            Preis pro Teil
                        </th>
                        <th>
                            Gesamtpreis
                        </th>
                        <th>
                            Status
                        </th>
                        <th colspan="2">
                            Aktionen
                        </th>
                        <th>
                            Bestes
                        </th>
                    </tr>
                    <tr *ngFor="#angebot of data; trackBy: trackByForOffers" [class.warning]="angebot.istBestesAngebot && angebot?.status == 0" [class.success]="angebot?.status == 1">
                        <td>
                            <span>{{ angebot?.angebotId }}</span>
                        </td>
                        <td>{{ angebot.erstelltAm | momentdate }}</td>
                        <td>{{ angebot?.preisProTeil | currency:'CHF':false }}</td>
                        <td>{{ angebot?.preisTotal | currency:'CHF':false  }}</td>
                        <td class="table-cell-badge">
                            <span *ngIf="angebot?.status == 0" class="label label-warning label-as-badge center-block">Offen</span>
                            <span *ngIf="angebot?.status == 1" class="label label-success label-as-badge center-block">Akzeptiert</span>
                            <span *ngIf="angebot?.status == 2" class="label label-primary label-as-badge center-block">Abgelehnt</span>
                        </td>
                        <td *ngIf="angebot?.status == 0 && model?.istOffen && canChangeState">
                            <button (click)="onAcceptAngebot($event, angebot)" type="button" class="btn btn-success center-block" [disabled]="istAnbieter || !canChangeState" data-toggle="tooltip" data-placement="top" title="Annehmen"><i class="glyphicon glyphicon-thumbs-up"></i></button>
                        </td>
                        <td *ngIf="angebot?.status == 0 && model?.istOffen && canChangeState">
                            <button (click)="onDeclineAngebot($event, angebot)" type="button" class="btn btn-warning center-block" data-toggle="tooltip" data-placement="top" title="Ablehnen"><i class="glyphicon glyphicon-thumbs-down"></i></button>
                        </td>
                        <td *ngIf="angebot?.status != 0 || !model?.istOffen" colspan="2" class="text-center">
                        </td>
                        <td *ngIf="istAnbieter || !canChangeState" colspan="2" class="text-center">
                            <div class="label label-warning label-as-badge">Nur die zugeordnete Firma kann Angebote verändern.</div>
                        </td>
                        <td>
                            <div class="text-center">
                                <i *ngIf="angebot.istBestesAngebot" class="glyphicon glyphicon-star-empty star-offer" data-toggle="tooltip" data-placement="top" title="Bestes Angebot"></i>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <hr />
            <form class="form">
                <div class="input-group pull-right">
                    <a *ngIf="model?.istOffen && canCreateOffer" href="#/angebot/add/{{ model?.nachfrageId }}" class="btn btn-primary" title="Neues Angebot erstellen">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Angebot erstellen</span>
                    </a>
                    <div *ngIf="!model?.istOffen && canCreateOffer" data-toggle="tooltip" data-placement="top" title="Nachfrage wurde bereits abgeschlossen">
                        <button disabled="disabled" class="btn btn-primary" title="Nachfrage wurde bereits abgeschlossen">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Angebot erstellen</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>