<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Nachfragen</legend>
                </fieldset>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Nachfrage
                    </th>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Teil
                    </th>
                    <th>
                        Anzahl
                    </th>
                    <th>
                        Erstellt Am
                    </th>
                    <th>
                        Vorhandene Angebote
                    </th>
                    <th>
                        Bester Preis
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                    </th>
                </tr>
                <tr *ngFor="#nachfrage of data; trackBy: trackByForRequests">
                    <td>
                        <a href="#/nachfrage/{{nachfrage?.nachfrageId}}">
                            {{nachfrage?.nachfrageId}}
                        </a>
                    </td>
                    <td>
                        <a href="#/produkt/{{nachfrage?.produktId}}">
                            {{nachfrage?.produktName}}
                        </a>
                    </td>
                    <td>{{ nachfrage?.teilName }}</td>
                    <td>{{ nachfrage?.anzahl }}</td>
                    <td>{{ nachfrage?.erstelltAm | momentdate }}</td>
                    <td>{{ nachfrage?.anzahlAngebote }}</td>
                    <td>{{ nachfrage?.besterPreis | currency:'CHF':false  }}</td>
                    <td class="table-cell-badge">
                        <span *ngIf="nachfrage?.istOffen == 1" class="label label-warning label-as-badge center-block">Offen</span>
                        <span *ngIf="nachfrage?.istOffen == 0" class="label label-success label-as-badge center-block">Abgeschlossen</span>
                    </td>
                    <td>
                        <a href="#/nachfrage/{{nachfrage?.nachfrageId}}" class="btn btn-info pull-right">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>