<section>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Produkte</legend>
                </fieldset>
            </form>
        </div>
    </div>
    <hr />
    <div class="row" *ngIf="data != null && data?.length > 0">
        <div class="col-md-offset-1 col-md-10">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                    </th>
                </tr>
                <tr *ngFor="#produkt of data">
                    <td>
                        <a href="#/produkt/{{produkt?.produktId}}">
                            {{produkt?.produktId}}
                        </a>
                    </td>
                    <td>{{produkt?.name}}</td>
                    <td>
                        <a href="#/produkt/{{produkt?.produktId}}" class="btn btn-info pull-right">
                            <i class="glyphicon glyphicon-arrow-right"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="data == null || data?.length <= 0">
        <div class="col-md-offset-1 col-md-10">
            <div class="alert alert-info" role="alert">
                <span>Keine Produkte vorhanden.</span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <div class="input-group pull-right">
                    <a href="#/produkt/add" class="btn btn-primary" title="Neues Produkt erfassen">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Produkt erfassen</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>