<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Angebot zur Nachfrage - <a href="#/nachfrage/{{ data?.nachfrageId }}">{{ data?.nachfrageId }}</a></legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <label>Nachfrage</label>
                        <div class="input-group">
                            <a href="#/nachfrage/{{ data?.nachfrageId }}">
                                <h3 class="detail-label form-control-static">{{ data?.nachfrageId }}</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Produkt</label>
                        <div class="input-group">
                            <a href="#/produkt/{{ data?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ data?.produktName }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Teil</label>
                        <div class="input-group">
                            <a href="#/produkt/{{ data?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ data?.teilName }}</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Geforderte Stückzahl</label>
                        <div class="input-group">
                            <span class="form-control-static">{{ data?.anzahl }}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form" (ngSubmit)="onAdd($event)" [ngFormModel]="formModel">
                <fieldset>
                    <legend>Angebot abgeben</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Preis pro Stück</label>
                            <input type="text" class="form-control" [ngFormControl]="formModel.controls.preisProTeil" required="required" autofocus="autofocus" />
                            <div *ngIf="formModel.hasError('required', 'preisProTeil')" class="label label-danger label-as-badge">Preis ist ein Pflichtfeld!</div>
                            <div *ngIf="formModel.hasError('greaterthan', 'preisProTeil')" class="label label-danger label-as-badge">Preis muss grösser 0.01 sein!</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Aktuell bestes Angebot</label>
                            <div class="input-group">
                                <span class="form-control-static">{{ data?.besterPreis }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Gesamtpreis</label>
                            <div class="input-group">
                                <span class="form-control-static">{{ model?.preisProTeil * data?.anzahl }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Angebot abgeben">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Erstellen</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>