<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form" (ngSubmit)="onAdd($event)" [ngFormModel]="formModel">
                <fieldset>
                    <legend>Teil erstellen</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" [ngFormControl]="formModel.controls.name" autofocus="autofocus" required="required" maxlength="40" />
                            <div *ngIf="formModel.hasError('required', 'name')" class="label label-danger label-as-badge">Name ist ein Pflichtfeld!</div>
                            <div *ngIf="formModel.hasError('minlength', 'name')" class="label label-danger label-as-badge">Name ist zu kurz!</div>
                            <div *ngIf="formModel.hasError('maxlength', 'name')" class="label label-danger label-as-badge">Name darf nicht länger als 40 Zeichen sein!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Typ</label>
                            <span class="input-group">
                                <select class="btn" [ngFormControl]="formModel.controls.typId" (change)="onTypChange($event)">
                                    <option *ngFor="#typ of typList" [value]="typ.typId">{{ typ.name }}</option>
                                </select>
                            </span>
                            <div *ngIf="formModel.hasError('required', 'typId')" class="label label-danger label-as-badge">Typ ist ein Pflichtfeld!</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Qualität</label>
                            <span class="input-group">
                                <select class="btn" [ngFormControl]="formModel.controls.qualitaetId" (change)="onQualitaetChange($event)">
                                    <option *ngFor="#qualitaet of qualitaetList" [value]="qualitaet.qualitaetId">{{ qualitaet.name }}</option>
                                </select>
                            </span>
                            <div *ngIf="formModel.hasError('required', 'qualitaetId')" class="label label-danger label-as-badge">Typ ist ein Pflichtfeld!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Anzahl</label>
                            <input type="text" class="form-control" [ngFormControl]="formModel.controls.anzahl" required="required" />
                            <div *ngIf="formModel.hasError('required', 'anzahl')" class="label label-danger label-as-badge">Anzahl ist ein Pflichtfeld!</div>
                            <div *ngIf="formModel.hasError('greaterthan', 'anzahl')" class="label label-danger label-as-badge">Anzahl muss grösser 0 sein!</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Teil erstellen">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Hinzufügen</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>