<div>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Nachfrage  erstellen</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-6">
                            <label>Produkt</label>
                            <div class="input-group">
                                <a href="#/produkt/{{ data?.produktId }}">
                                    <h3 class="detail-label form-control-static">{{ data?.produktName }}</h3>
                                </a>
                            </div>
                        </div>
                        <label>Teil</label>
                        <div class="input-group">
                            <a href="#/produkt/{{ data?.produktId }}">
                                <h3 class="detail-label form-control-static">{{ data?.teilName }}</h3>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Anzahl</label>
                        <div class="input-group">
                            <span class="form-control-static">{{ data?.anzahl }}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form" (ngSubmit)="onAdd($event)" [ngFormModel]="formModel">
                <fieldset>
                    <legend>Benötigte Anzahl</legend>
                </fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Zu produzierende Stückzahl</label>
                            <input class="form-control" [ngFormControl]="formModel.controls.anzahl" autofocus="autofocus" />
                            <div *ngIf="formModel.hasError('required', 'anzahl')" class="label label-danger label-as-badge">Anzahl ist ein Pflichtfeld!</div>
                            <div *ngIf="formModel.hasError('greaterthan', 'anzahl')" class="label label-danger label-as-badge">Anzahl muss grösser 0 sein!</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Liefertermin</label>
                            <input class="form-control" [ngFormControl]="formModel.controls.liefertermin" />
                            <div *ngIf="formModel.hasError('required', 'liefertermin')" class="label label-danger label-as-badge">Liefertermin ist ein Pflichtfeld!</div>
                            <div *ngIf="formModel.hasError('date', 'liefertermin')" class="label label-danger label-as-badge">Ungültiges Datum. Format: {{ currentDateFormat }}</div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Nachfrage eröffnen">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Erstellen</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>