<section>
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Produkt - {{ model?.produktId }}</legend>
                </fieldset>
                <div class="input-group">
                    <h3 class="detail-label form-control-static">{{ model?.name }}</h3>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form class="form">
                <fieldset>
                    <legend>Vorhandene Teile</legend>
                </fieldset>
            </form>
            <table class="table table-bordered">
                <tr>
                    <th>
                        Teil
                    </th>
                    <th>
                        Typ
                    </th>
                    <th>
                        Menge
                    </th>
                    <th>
                        Nachfrage
                    </th>
                    <th>
                        Aktionen
                    </th>
                </tr>
                <tr *ngFor="#teil of data">
                    <td>{{ teil?.teilName }}</td>
                    <td>{{ teil?.typName }}</td>
                    <td>{{ teil?.anzahl }}</td>
                    <td class="table-cell-badge">
                        <span *ngIf="teil.hatOffeneNachfrage" class="label label-info label-as-badge center-block">
                            <a href="#/nachfrage/{{ teil?.offeneNachfrageId }}">Offene Nachfrage</a>
                        </span>
                    </td>
                    <td>
                        <div class="btn-group pull-right" role="group">
                            <a *ngIf="!teil.hatOffeneNachfrage" href="#/nachfrage/add/{{teil.teilId}}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Nachfrage erfassen"><i class="glyphicon glyphicon-plus"></i></a>
                            <button *ngIf="teil.hatOffeneNachfrage" disabled="disabled" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Nachfrage bereits vorhanden"><i class="glyphicon glyphicon-plus"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
            <hr />
            <form class="form">
                <div class="input-group pull-right">
                    <a href="#/teil/add/{{ model?.produktId }}" class="btn btn-primary" title="Teil erstellen">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Teil Hinzufügen</span>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>